# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Do not include backend/frontend environments or node_modules directly
node_modules/
venv/
env/

# Ignore env files at root
.env
